USE [master]
GO
/****** Object:  Database [TrainingCourses]    Script Date: 04.03.2022 15:11:10 ******/
CREATE DATABASE [TrainingCourses]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingCourses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TrainingCourses.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingCourses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TrainingCourses_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingCourses].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingCourses]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Program] [nvarchar](max) NOT NULL,
	[IDOrganization] [int] NOT NULL,
	[PlanStart] [date] NOT NULL,
	[PlanEnd] [date] NOT NULL,
	[CountHours] [int] NULL,
	[CountPeopleMax] [int] NULL,
	[CountPeopleNow] [int] NULL,
	[IDCourseForm] [int] NOT NULL,
	[IDStatus] [int] NOT NULL,
	[IDQualification] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Percon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEducatorTopic]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEducatorTopic](
	[IDCourse] [int] NOT NULL,
	[IDEducator] [int] NOT NULL,
	[IDTopic] [int] NOT NULL,
 CONSTRAINT [PK_CourseEducatorTopic] PRIMARY KEY CLUSTERED 
(
	[IDCourse] ASC,
	[IDEducator] ASC,
	[IDTopic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseForm]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseForm](
	[CourseFormID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CourseForm] PRIMARY KEY CLUSTERED 
(
	[CourseFormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursePeople]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursePeople](
	[IDCourse] [int] NOT NULL,
	[IDPeople] [int] NOT NULL,
	[RegistrationNum] [nvarchar](50) NULL,
 CONSTRAINT [PK_CoursePeople] PRIMARY KEY CLUSTERED 
(
	[IDCourse] ASC,
	[IDPeople] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educator]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educator](
	[EducatorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NULL,
	[Age] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IDOrganization] [int] NOT NULL,
	[IDQualification] [int] NOT NULL,
 CONSTRAINT [PK_Educator] PRIMARY KEY CLUSTERED 
(
	[EducatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducatorTopic]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducatorTopic](
	[IDEducator] [int] NOT NULL,
	[IDTopic] [int] NOT NULL,
 CONSTRAINT [PK_EducatorTopic] PRIMARY KEY CLUSTERED 
(
	[IDEducator] ASC,
	[IDTopic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Region] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[House] [nvarchar](10) NULL,
	[Corpus] [int] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PeopleID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NULL,
	[Age] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IDCategory] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[PeopleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[QualificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Qualification] PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[CountHours] [int] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Title]) VALUES (1, N'Администратор')
INSERT [dbo].[Category] ([CategoryID], [Title]) VALUES (2, N'Обучающийся')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [Program], [IDOrganization], [PlanStart], [PlanEnd], [CountHours], [CountPeopleMax], [CountPeopleNow], [IDCourseForm], [IDStatus], [IDQualification], [Description], [Percon]) VALUES (1, N'Воспитатель в дошкольном образовании: инклюзивное образование детей с ОВЗ в ДОО согласно ФГОС ДО', 1, CAST(N'2022-01-01' AS Date), CAST(N'2022-02-01' AS Date), 52, 25, 1, 1, 3, 1, N'', N'Иванов И. И.')
INSERT [dbo].[Course] ([CourseID], [Program], [IDOrganization], [PlanStart], [PlanEnd], [CountHours], [CountPeopleMax], [CountPeopleNow], [IDCourseForm], [IDStatus], [IDQualification], [Description], [Percon]) VALUES (2, N'Интерактивная доска: практическое использование в работе педагога (ДОО, НОО, ООО и СОО)', 1, CAST(N'2022-01-02' AS Date), CAST(N'2022-02-02' AS Date), 50, 50, 2, 2, 3, 2, N'', N'Иванов И. И.')
INSERT [dbo].[Course] ([CourseID], [Program], [IDOrganization], [PlanStart], [PlanEnd], [CountHours], [CountPeopleMax], [CountPeopleNow], [IDCourseForm], [IDStatus], [IDQualification], [Description], [Percon]) VALUES (3, N'Содержание профессиональных компетенций младшего воспитателя в условиях современного дошкольного образования в соответствии с ФГОС', 2, CAST(N'2022-01-03' AS Date), CAST(N'2022-02-03' AS Date), 62, 25, 1, 1, 3, 3, N'', N'Иванов И. И.')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[CourseEducatorTopic] ([IDCourse], [IDEducator], [IDTopic]) VALUES (1, 1, 1)
INSERT [dbo].[CourseEducatorTopic] ([IDCourse], [IDEducator], [IDTopic]) VALUES (1, 4, 15)
INSERT [dbo].[CourseEducatorTopic] ([IDCourse], [IDEducator], [IDTopic]) VALUES (1, 7, 29)
GO
SET IDENTITY_INSERT [dbo].[CourseForm] ON 

INSERT [dbo].[CourseForm] ([CourseFormID], [Title]) VALUES (1, N'Очный')
INSERT [dbo].[CourseForm] ([CourseFormID], [Title]) VALUES (2, N'Очно-заочный')
INSERT [dbo].[CourseForm] ([CourseFormID], [Title]) VALUES (3, N'Дистанционный')
SET IDENTITY_INSERT [dbo].[CourseForm] OFF
GO
INSERT [dbo].[CoursePeople] ([IDCourse], [IDPeople], [RegistrationNum]) VALUES (1, 1, N'11221')
INSERT [dbo].[CoursePeople] ([IDCourse], [IDPeople], [RegistrationNum]) VALUES (2, 1, N'21221')
INSERT [dbo].[CoursePeople] ([IDCourse], [IDPeople], [RegistrationNum]) VALUES (2, 4, N'21224')
GO
SET IDENTITY_INSERT [dbo].[Educator] ON 

INSERT [dbo].[Educator] ([EducatorID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDOrganization], [IDQualification]) VALUES (1, N'Трофимова', N'София', N'Марковна', 54, N'strofimova', N'HhHJdM', 1, 1)
INSERT [dbo].[Educator] ([EducatorID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDOrganization], [IDQualification]) VALUES (2, N'Семенова', N'Милана', N'Фёдоровна', 37, N'msemenova', N'jUzUIt', 1, 2)
INSERT [dbo].[Educator] ([EducatorID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDOrganization], [IDQualification]) VALUES (3, N'Макаров', N'Александр', N'Александрович', 53, N'amakarov', N'HDaFOd', 2, 3)
SET IDENTITY_INSERT [dbo].[Educator] OFF
GO
INSERT [dbo].[EducatorTopic] ([IDEducator], [IDTopic]) VALUES (1, 1)
INSERT [dbo].[EducatorTopic] ([IDEducator], [IDTopic]) VALUES (1, 11)
INSERT [dbo].[EducatorTopic] ([IDEducator], [IDTopic]) VALUES (1, 21)
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([OrganizationID], [Title], [Region], [City], [Street], [House], [Corpus]) VALUES (1, N'МГУ имени М.В. Ломоносова - Московский государственный университет имени М.В. Ломоносова', N'Московская область', N'Москва', N'Микрорайон Ленинские Горы', N'1', NULL)
INSERT [dbo].[Organization] ([OrganizationID], [Title], [Region], [City], [Street], [House], [Corpus]) VALUES (2, N'СПГУ - Санкт-Петербургский государственный университет', NULL, N'Санкт-Петербург', N'Университетская набережная', N'7-9', NULL)
INSERT [dbo].[Organization] ([OrganizationID], [Title], [Region], [City], [Street], [House], [Corpus]) VALUES (3, N'НИУ ВШЭ - Национальный исследовательский университет "Высшая школа экономики"', N'Московская область', N'Москва', N'Мясницкая улица', N'20', NULL)
SET IDENTITY_INSERT [dbo].[Organization] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PeopleID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDCategory]) VALUES (1, N'Морозов', N'Станислав', N'Егорович', 26, N'smorozov', N'1234', 2)
INSERT [dbo].[People] ([PeopleID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDCategory]) VALUES (2, N'Смирнова', N'Валерия', N'Макаровна', 24, N'vsmirnova', N'12345', 1)
INSERT [dbo].[People] ([PeopleID], [FirstName], [SecondName], [ThirdName], [Age], [Login], [Password], [IDCategory]) VALUES (3, N'Карасев', N'Артём', N'Алексеевич', 29, N'akarasev', N'123456', 2)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([QualificationID], [Title]) VALUES (1, N'Дошкольные образовательные организации (ДОО)')
INSERT [dbo].[Qualification] ([QualificationID], [Title]) VALUES (2, N'Воспитатель')
INSERT [dbo].[Qualification] ([QualificationID], [Title]) VALUES (3, N'Младший воспитатель, помощник воспитателя')
SET IDENTITY_INSERT [dbo].[Qualification] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [Title]) VALUES (1, N'Запланирован')
INSERT [dbo].[Status] ([StatusID], [Title]) VALUES (2, N'В процессе')
INSERT [dbo].[Status] ([StatusID], [Title]) VALUES (3, N'Завершён')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([TopicID], [Title], [CountHours]) VALUES (1, N'Интерфейс программы Smart Notebook', 2)
INSERT [dbo].[Topic] ([TopicID], [Title], [CountHours]) VALUES (2, N'Инструменты программы Smart Notebook', 2)
INSERT [dbo].[Topic] ([TopicID], [Title], [CountHours]) VALUES (3, N'Изменение фона страницы', 2)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF_Course_IDQualification]  DEFAULT ((1)) FOR [IDQualification]
GO
ALTER TABLE [dbo].[CourseEducatorTopic] ADD  CONSTRAINT [DF_CourseEducatorTopic_IDTopic]  DEFAULT ((1)) FOR [IDTopic]
GO
ALTER TABLE [dbo].[CoursePeople] ADD  CONSTRAINT [DF_CoursePeople_RegistrationNum]  DEFAULT (N'Нет') FOR [RegistrationNum]
GO
ALTER TABLE [dbo].[Educator] ADD  CONSTRAINT [DF_Educator_IDQualification]  DEFAULT ((1)) FOR [IDQualification]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_CourseForm] FOREIGN KEY([IDCourseForm])
REFERENCES [dbo].[CourseForm] ([CourseFormID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_CourseForm]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Organization] FOREIGN KEY([IDOrganization])
REFERENCES [dbo].[Organization] ([OrganizationID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Organization]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Qualification] FOREIGN KEY([IDQualification])
REFERENCES [dbo].[Qualification] ([QualificationID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Qualification]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Status] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Status]
GO
ALTER TABLE [dbo].[CourseEducatorTopic]  WITH CHECK ADD  CONSTRAINT [FK_CourseEducatorTopic_Course] FOREIGN KEY([IDCourse])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[CourseEducatorTopic] CHECK CONSTRAINT [FK_CourseEducatorTopic_Course]
GO
ALTER TABLE [dbo].[CourseEducatorTopic]  WITH CHECK ADD  CONSTRAINT [FK_CourseEducatorTopic_Educator] FOREIGN KEY([IDEducator])
REFERENCES [dbo].[Educator] ([EducatorID])
GO
ALTER TABLE [dbo].[CourseEducatorTopic] CHECK CONSTRAINT [FK_CourseEducatorTopic_Educator]
GO
ALTER TABLE [dbo].[CourseEducatorTopic]  WITH CHECK ADD  CONSTRAINT [FK_CourseEducatorTopic_Topic] FOREIGN KEY([IDTopic])
REFERENCES [dbo].[Topic] ([TopicID])
GO
ALTER TABLE [dbo].[CourseEducatorTopic] CHECK CONSTRAINT [FK_CourseEducatorTopic_Topic]
GO
ALTER TABLE [dbo].[CoursePeople]  WITH CHECK ADD  CONSTRAINT [FK_CoursePeople_Course] FOREIGN KEY([IDCourse])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[CoursePeople] CHECK CONSTRAINT [FK_CoursePeople_Course]
GO
ALTER TABLE [dbo].[CoursePeople]  WITH CHECK ADD  CONSTRAINT [FK_CoursePeople_People] FOREIGN KEY([IDPeople])
REFERENCES [dbo].[People] ([PeopleID])
GO
ALTER TABLE [dbo].[CoursePeople] CHECK CONSTRAINT [FK_CoursePeople_People]
GO
ALTER TABLE [dbo].[Educator]  WITH CHECK ADD  CONSTRAINT [FK_Educator_Organization] FOREIGN KEY([IDOrganization])
REFERENCES [dbo].[Organization] ([OrganizationID])
GO
ALTER TABLE [dbo].[Educator] CHECK CONSTRAINT [FK_Educator_Organization]
GO
ALTER TABLE [dbo].[Educator]  WITH CHECK ADD  CONSTRAINT [FK_Educator_Qualification] FOREIGN KEY([IDQualification])
REFERENCES [dbo].[Qualification] ([QualificationID])
GO
ALTER TABLE [dbo].[Educator] CHECK CONSTRAINT [FK_Educator_Qualification]
GO
ALTER TABLE [dbo].[EducatorTopic]  WITH CHECK ADD  CONSTRAINT [FK_EducatorTopic_Educator] FOREIGN KEY([IDEducator])
REFERENCES [dbo].[Educator] ([EducatorID])
GO
ALTER TABLE [dbo].[EducatorTopic] CHECK CONSTRAINT [FK_EducatorTopic_Educator]
GO
ALTER TABLE [dbo].[EducatorTopic]  WITH CHECK ADD  CONSTRAINT [FK_EducatorTopic_Topic] FOREIGN KEY([IDTopic])
REFERENCES [dbo].[Topic] ([TopicID])
GO
ALTER TABLE [dbo].[EducatorTopic] CHECK CONSTRAINT [FK_EducatorTopic_Topic]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Category] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Category]
GO
/****** Object:  StoredProcedure [dbo].[AddCoursePeople]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCoursePeople] 
@idCourse INT, @idPeople INT
AS
BEGIN
	INSERT INTO CoursePeople(IDCourse, IDPeople) VALUES(@idCourse, @idPeople)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCoursePeople]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCoursePeople] 
@idCourse INT, @idPeople INT
AS
BEGIN
	DELETE CoursePeople 
	WHERE IDCourse = @idCourse AND IDPeople = @idPeople
END
GO
/****** Object:  StoredProcedure [dbo].[EducatorFIO]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EducatorFIO]
@idOrganization INT
AS
BEGIN
	SELECT EducatorID, (FirstName + ' ' + SecondName + ' ' + ThirdName) AS EducatorName FROM Educator
	WHERE IDOrganization = @idOrganization
END
GO
/****** Object:  StoredProcedure [dbo].[PeopleFIO]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PeopleFIO]
@idCourse INT
AS
BEGIN
	SELECT * FROM People
	WHERE PeopleID IN (SELECT IDPeople FROM CoursePeople WHERE IDCourse = @idCourse)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrationNumCreate]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrationNumCreate] 
AS
BEGIN
	UPDATE [dbo].[CoursePeople] SET RegistrationNum = 
	CAST(IDCourse AS NVARCHAR(50)) + 
	CAST((SELECT IDOrganization FROM [dbo].[Course] WHERE CourseID = IDCourse) AS NVARCHAR(50)) + 
	CAST(DAY(GETDATE()) AS NVARCHAR(50)) + CAST(IDPeople AS NVARCHAR(50))
	WHERE RegistrationNum = 'Нет'
END
GO
/****** Object:  StoredProcedure [dbo].[SelectCourseEducatorTopic]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectCourseEducatorTopic]
@idCourse INT
AS
BEGIN
	SELECT IDCourse, IDEducator, IDTopic FROM CourseEducatorTopic
	WHERE IDCourse = @idCourse
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourse]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCourse]
@ID INT, 
@program NVARCHAR(MAX), 
@organization INT, 
@start DATE, 
@end DATE, 
@peopleMax INT, 
@form INT,
@qualification INT,
@person NVARCHAR(50),
@description NVARCHAR(MAX)
AS
BEGIN
	UPDATE Course SET Program = @program, IDOrganization = @organization, PlanStart = @start, PlanEnd = @end,
	CountPeopleMax = @peopleMax, IDCourseForm = @form, IDQualification = @qualification,  
	Percon = @person, Description = @description
	WHERE CourseID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourseHoursPeopleCount]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCourseHoursPeopleCount]
AS
BEGIN
	UPDATE Course 
	SET CountHours = (SELECT SUM(CountHours) FROM Topic WHERE TopicID IN 
	(SELECT IDTopic FROM CourseEducatorTopic WHERE IDCourse = CourseID)),
	CountPeopleNow = (SELECT COUNT(*) FROM CoursePeople WHERE IDCourse = CourseID)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrganization]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOrganization]
@ID INT, @title NVARCHAR(MAX), @region NVARCHAR(50), @city NVARCHAR(50), @street NVARCHAR(50), @house NVARCHAR(50), @corpus INT
AS
BEGIN
	UPDATE Organization SET Title = @title, Region = @region, City = @city, Street = @street, House = @house, Corpus = @corpus
	WHERE OrganizationID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateQualification]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateQualification]
@ID INT, @title nvarchar(50)
AS
BEGIN
	UPDATE Qualification SET Title = @title
	WHERE QualificationID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusEnd]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusEnd]
AS
BEGIN
	UPDATE Course
	SET IDStatus = 3
	WHERE PlanEnd <= GETDATE()
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusInProcess]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusInProcess]
AS
BEGIN
	UPDATE Course
	SET IDStatus = 2
	WHERE PlanStart <= GETDATE()
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTopic]    Script Date: 04.03.2022 15:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTopic]
@ID INT, @title nvarchar(MAX), @hours INT
AS
BEGIN
	UPDATE Topic SET Title = @title, CountHours = @hours
	WHERE TopicID = @ID
END
GO
USE [master]
GO
